html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background-image: url("../img/anuncio_ebook.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen and (max-width: 980px) {
    .row { padding-top: 500px !important; }
    #buttonRegister { margin-bottom: 50px; }
}

.title {
    color: #2e323b;
    font-size: 36px;
}

.text {
    color: #2e323b;
    font-size: 20px;
}

.wrapper div {
    padding: 40px;
}

div.flex-align {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.title-form {
    font-size: 32px;
    color: #fe9d00;
}

.subtitle-form {
    font-size: 18px;
    color: white;
}

.form-content {
    margin-left: 50px;
}

.btn-orange {
    background-color: #ff9c00;
    color: white;
    width: 100%;
    border-color: #ff9c00;
}

#loading{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	background-color: #000;
	width: 100%;
	height: 100%;
	opacity: .50;
	filter: alpha(opacity=65);
}