:root {
    --main-color: #ffde3b;
    --orange-color: #ff9d00;
}

@font-face {
    font-family: gotham-black;
    src: url("fonts/gotham-black-maisfontes/gotham-black.otf") format("opentype");
}

@font-face {
    font-family: gotham-book;
    src: url("fonts/gotham-book-maisfontes/gotham-book.otf") format("opentype");
}

@font-face {
    font-family: pier-sans-bold;
    src: url("fontspier-sans-bold-maisfontes/pier-sans-bold.otf") format("opentype");
}

.container {
    font-family: gotham-book;
}

.row {
    font-family: gotham-book;
}

.social-icons {
    position: absolute;
    top: 0;
    margin-top: 90px;
    margin-left: 150px;
}

.social-icons > a {
    background-color: var(--orange-color);
    border-radius: 9px;
}

.navbar-blog {
    border-bottom: 1px solid rgba(128,128,128,.5);
    border-top: 1px solid rgba(128,128,128,.5);
}

.active {
    background-color: var(--main-color) !important;
    color: gray !important;
}

.active:hover {
    color: gray !important;
}

.nav-link {
    color: gray;
}

.nav-link:hover {
    color: black; 
}

.btn-blog {
    background-color: var(--main-color) !important; 
}

.dropdown {
    margin-left: 10px;
}

.dropdown-toggle::after {
    color: var(--main-color) !important;
    margin-left: .900em;
    vertical-align: .150em;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #ffffff;
    color: black;
}

.dropdown-menu {
    width: 95%;
    text-align: center;
}

.header-input::-webkit-input-placeholder {
    color: black;
}

.footer-register {
    background-color: var(--orange-color);
    height: 200px;
    margin-top: 50px;
    text-align: center;
    color: black;
}

.footer-register-title {
    margin-top: 40px;
}

.footer-title {
    font-size: 24px;
    font-weight: bold;
}

.footer-subtitle {
    font-size: 16px;
    opacity: 0.6;
    font-weight: 500;
}

.background-transparent {
    background-color: transparent !important;
    border-color: rgba(0,0,0,.6);
}

.background-transparent::-webkit-input-placeholder {
    color: black;
}

.email-input {
    width: 280px !important;
}

.footer-text {
    font-weight: bolder;
    color: rgba(0,0,0,.4);
    line-height: 1;
}

.footer-social {
    text-align: center;
    margin-top: 20px;
}

.footer-social-icons > a {
    background-color: var(--orange-color);
    border-radius: 9px;
    margin: 10px;
}

.footer-links {
    margin-top: 20px;
}

.decoration-none {
    color: black;
    text-decoration: none;
}

.related-article {
    margin-top: 30px;
    background-color: #e9eef4;
    padding-top: 40px;
    height: 400px;
    margin-bottom: 100px;
}

.card {
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgba(230,230,230)
}

.card > img {
    width: calc(100% - 30px);
    margin: 15px 15px 0px 15px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.line {
    margin-top: 15px;
    height: 1px;
    background-color: rgba(0,0,0,0.5);
}

.copyright {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.list-card-category {
    font-size: 20px;
    font-weight: bold;
    color: var(--orange-color);
    text-decoration: underline;
}

.list-card-title {
    margin-top: 5px;
    font-size: 26px;
    font-weight: bold;
}

.list-card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.list-card-date {
    text-align: right;
    color: rgba(0,0,0,0.5);
}

.author {
    margin: 20px 0 20px 50px;
}

.image-article {
    margin-top: 15px;
    max-width: 100%;
    max-height: 500px;
    border-radius: 5px;
}

.card-header {
    padding-top: 30px;
}

.share-this-post {
    opacity: 0.5;
    margin-top: 30px;
}